<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-icons-1.5.0' %}" rel="stylesheet">
</head>
<body>
    
    <nav class="navbar  fixed-top navbar-dark bg-primary">
        <div class="container-fluid">
          <h3 class="navbar-brand">HOME</h3>
          <form class="d-flex">
            
            <a href="{% url 'logout' %}">
                <button class="btn btn-primary" >
                    Logout
                </button> 
            </a>
          </form>
        </div>
      </nav>
      <!-- {% block navbar %}
      {% endblock %} -->
</body>
</html>
!